* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 400px;
  width: 400px;
}
.sub_heading {
  margin-top: 4rem;
}
.dogbreed {
  font-weight: bold;
  text-transform: uppercase;
}
.dogImg {
  height: 400px !important;
  width: 420px !important;
}
.imgcont {
  justify-content: center;
  display: flex;
}
