*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    height: 400px;
    width: 400px;
}
.sub_heading{
    margin-top: 4rem;
}

.dogImg {
    height:  300px!important; 
    width: 350px !important;
}
